button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect(data-bind="css:{ 'mdl-button--colored':_isPrimary, 'mdl-button--mini-fab':_isSmall }, click:clicked, disable:disabled, visible:visible")
  i.material-icons(data-bind='text:icon')

