button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect(data-bind="css:{ 'mdl-button--colored':_isPrimary, 'mdl-button--accent':_isAccent }, click:clicked, disable:disabled, visible:visible")
  i.material-icons(data-bind='text:icon')

