.mdl-card.mdl-shadow--2dp
  // ko if:_hasTitle
  .mdl-card__title
    h2.mdl-card__title-text(data-bind='text:title')
  // /ko
  .mdl-card__supporting-text(data-bind="template:{ name:_templateOf, foreach:contents }")
  // ko if:_hasButtons
  .mdl-card__actions.mdl-card--border
    // ko foreach:buttons
    a.mdl-button.mdl-js-button.mdl-js-ripple-effect(data-bind="text:label, click:clicked, css:{ 'mdl-button--colored':_primary , 'mdl-button--accent':_accent }")
    // /ko
  // /ko
  // ko with:menu
  .mdl-card__menu
    button(data-bind="attr:{ id:id }").mdl-button.mdl-js-button.mdl-button--icon
      i.material-icons more_vert
    ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(data-bind="attr:{ 'for':id }")
      // ko foreach:commands
      li.mdl-menu__item(data-bind="attr:{ disabled:disabled }, text:label, click:clicked")
      // /ko
  // /ko
