label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(data-bind="attr:{ 'for':id }, visible:visible")
  input.mdl-checkbox__input(type='checkbox' data-bind='attr:{ id:id }, checked:value')
  span.mdl-checkbox__label(data-bind='text:title')
