label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(data-bind="attr:{ 'for':id }")
  input#checkbox-1.mdl-checkbox__input(type='checkbox' data-bind='attr:{ id:id }, checked:checked')
  span.mdl-checkbox__label(data-bind='text:label')
