label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(data-bind="attr:{ 'for':id }, visible:visible")
  input.mdl-icon-toggle__input(type='checkbox' data-bind='attr:{ id:id }, checked:value')
  i.mdl-icon-toggle__label.material-icons(data-bind='text:icon')

