.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect(data-bind='visible:visible')
  .mdl-tabs__tab-bar
    // ko foreach:items
    a.mdl-tabs__tab(data-bind="attr:{ href:_address }, css:{ 'is-active':_isActive }, text:title")
    // /ko
  // ko foreach:items
  .mdl-tabs__panel(data-bind="attr:{ id:id }, css:{ 'is-active':_isActive }, template:{ name:_templateOf, foreach:items }")
  // /ko
