.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(data-bind='visible:visible')
  input.mdl-textfield__input(type='text' data-bind="attr:{ id:id }, textInput:value")
  label.mdl-textfield__label(data-bind="attr:{ 'for':id }, text:title")
