.mdl-card.mdl-shadow--2dp(data-bind='style:style, visible:visible')
  .mdl-card__title.mdl-card--expand
  .mdl-card__actions(style='height:52px;padding:16px;background:rgba(0,0,0,0.2)')
    span.demo-card-image__filename(style='color:#fff' data-bind='text:title')
