doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Fluid Editor
    meta(name='description' content='Fluid Editor')

    //- Add to homescreen for Chrome on Android
    meta(name='mobile-web-app-capable' content='yes')
    link(rel='icon' sizes='192x192' href='images/touch/chrome-touch-icon-192x192.png')

    //- Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    meta(name='apple-mobile-web-app-title' content='Fluid Application')
    link(rel='apple-touch-icon-precomposed' href='apple-touch-icon-precomposed.png')

    //- Tile icon for Win8 (144x144 + tile color)
    meta(name='msapplication-TileImage' content='images/touch/ms-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileColor' content='#3372DF')

    //-
    //- Stylesheets
    //-
    link(href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' type='text/css')
    link(href='../lib/material-design-lite/material.min.css' rel='stylesheet' type='text/css')
    link(href='../lib/codemirror/lib/codemirror.css' rel='stylesheet' type='text/css')
    link(href='../lib/codemirror/theme/eclipse.css' rel='stylesheet' type='text/css')
    link(href='editor.css' rel='stylesheet' type='text/css')

  body
    #fluid-workspace
      textarea#fluid-editor
    #fluid-sidebar
      #fluid-search
        .mdl-textfield.mdl-js-textfield.textfield-demo(style='width:100%')
          input#search.mdl-textfield__input(type='text' maxlength='32')
          label.mdl-textfield__label(for='search') Search Snippets...
      #fluid-snippets
      button#hide-snippets.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
        i.material-icons assignment

    button#show-snippets.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
      i.material-icons assignment
    //-
    //- Scripts
    //-

    script(src='../lib/jquery/dist/jquery.min.js')
    script(src='../lib/material-design-lite/material.min.js')
    script(src='../lib/lodash/lodash.min.js')
    script(src='../lib/knockout/dist/knockout.js')
    script(src='../lib/codemirror/lib/codemirror.js')
    script(src='codemirror-mode.js')
    script(src='../prototype/fluid.js')
    script(src='snippets.js')
    script(src='editor.js')
