button.mdl-button.mdl-js-button.mdl-js-ripple-effect(data-bind="css:{ 'mdl-button--colored':_isPrimary, 'mdl-button--accent':_isAccent, 'mdl-button--raised':_isRaised }, click:clicked, disable:disabled, text:title, visible:visible")

