.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable(data-bind='visible:visible')
  label.mdl-button.mdl-js-button.mdl-button--icon(data-bind="attr:{ 'for':id }")
    i.material-icons(data-bind='text:icon')
  .mdl-textfield__expandable-holder
    input.mdl-textfield__input(type='text' data-bind="attr:{ id:id }")
    label.mdl-textfield__label(data-bind="attr:{ 'for':id }, text:title")
